@model Lab3.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orders)
        </dt>

        <dd>
            @if (Model.Orders.Count > 0)
            {
                <table class="table table-sm">
                    <tr>
                        <th>Order number</th>
                        <th>Description</th>
                    </tr>
                    @for (int i = 0; i < Model.Orders.Count; i++)
                    {
                        <tr>
                            <td style="width:150px">
                                @(i+1)
                            </td>
                            <td>
                                @Html.ActionLink(Model.Orders[i].Description, "Details", "Orders", new { id = Model.Orders[i].Id }, null)
                            </td>
                        </tr>
                    }

                </table>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
